# {{ ansible_managed }}
---

apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    certificate-authority: "{{ kube_pki_dir }}/ca.pem"
    server: {{ init_apiserver_address }}
users:
- name: kubelet
  user:
    client-certificate: "{{ kube_pki_dir }}/worker.pem"
    client-key: "{{ kube_pki_dir }}/worker-key.pem"
contexts:
- context:
    cluster: local
    user: kubelet
  name: kubelet-context
current-context: kubelet-context
