# {{ ansible_managed }}
---

version: "3.6"

services:
  {{ ansible_hostname }}:
    container_name: "{{ ansible_hostname }}"
    image: "{{ etcd_image_repo }}:{{ etcd_version }}"
    ports:
      - 2379:2379
      - 2380:2380
    volumes:
      - etcd-data:/etcd-data
    environment:
      ETCD_NAME: "{{ ansible_hostname }}"
      ETCD_ADVERTISE_CLIENT_URLS: "http://{{ ansible_env.COREOS_PUBLIC_IPV4 }}:2379"
      ETCD_INITIAL_ADVERTISE_PEER_URLS: "http://{{ ansible_env.COREOS_PUBLIC_IPV4 }}:2380"
      ETCD_INITIAL_CLUSTER: "{{ ansible_hostname }}=http://{{ ansible_env.COREOS_PUBLIC_IPV4 }}:2380"
      ETCD_LISTEN_CLIENT_URLS: "http://0.0.0.0:2379"
      ETCD_LISTEN_PEER_URLS: "http://0.0.0.0:2380"

volumes:
  etcd-data:
