# {{ ansible_managed }}
---

apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    certificate-authority: "{{ kube_pki_dir }}/ca.pem"
    server: "https://{{ ansible_env.COREOS_PUBLIC_IPV4 }}:{{ apiserver_port }}"
users:
- name: kube-proxy
  user:
    client-certificate: "{{ kube_pki_dir }}/apiserver.pem"
    client-key: "{{ kube_pki_dir }}/apiserver-key.pem"
contexts:
- context:
    cluster: local
    user: kube-proxy
  name: kube-proxy-default
current-context: kube-proxy-default
