# {{ ansible_managed }}

[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Wants=docker.socket
StartLimitIntervalSec=10
StartLimitBurst=3

[Service]
ExecStart={{ docker_compose_path }} -f {{ kubelet_compose_file }} up -d
ExecStartPre=-{{ docker_path }}/docker rm -f kubelet
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
